footer {
    background: url('/public/imgs/fundo.png') repeat-x;
}

.rodape {
    display: inline-block;
    background-color: #6278F7;
    width: 100%;
    height: 440px;
    
}

.logo {
    display: flex;
    justify-content: center;
    margin: -50px 637px;

}
.social {
    display: flex;
    justify-content: flex-start;
    margin-top: 160px;
    margin-left: 167px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.social img {
    padding: 17.5px;
}